In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r"C:\Users\hites\Downloads\Crime_Data_from_2020_to_Present.csv")

In [3]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,02/02/2025 12:00:00 AM,02/02/2025 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,22100 ROSCOE BL,NaN,34.2259,-118.6126
1004987,250404100,02/18/2025 12:00:00 AM,02/18/2025 12:00:00 AM,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,IC,Invest Cont,237.0,NaN,NaN,NaN,3500 PERCY ST,NaN,34.0277,-118.1979
1004988,251304095,01/31/2025 12:00:00 AM,01/30/2025 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,300 E 53RD ST,NaN,33.9942,-118.2701
1004989,251704066,01/17/2025 12:00:00 AM,01/17/2025 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9600 ZELZAH AV,NaN,34.2450,-118.5233
1004990,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417

In [4]:
df['Vict Age']= df['Vict Age'].apply(lambda x: x if x>0 else None)

In [5]:
df['Weapon Desc']= df['Weapon Desc'].fillna("Unknown")

In [6]:
df['Vict Sex']= df['Vict Sex'].fillna("U")

In [7]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,02/02/2025 12:00:00 AM,02/02/2025 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,22100 ROSCOE BL,NaN,34.2259,-118.6126
1004987,250404100,02/18/2025 12:00:00 AM,02/18/2025 12:00:00 AM,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,IC,Invest Cont,237.0,NaN,NaN,NaN,3500 PERCY ST,NaN,34.0277,-118.1979
1004988,251304095,01/31/2025 12:00:00 AM,01/30/2025 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,300 E 53RD ST,NaN,33.9942,-118.2701
1004989,251704066,01/17/2025 12:00:00 AM,01/17/2025 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,9600 ZELZAH AV,NaN,34.2450,-118.5233
1004990,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,IC,Invest Cont,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417

In [15]:
df['Date Reported']= pd.to_datetime(df['Date Rptd'], format='%m/%d/%Y %I:%M:%S %p', errors= 'coerce')

In [17]:
df['Date Occurance']= pd.to_datetime(df['DATE OCC'], format='%m/%d/%Y %I:%M:%S %p', errors= 'coerce')

In [18]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date Reported,Date Occurance
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092,2021-04-11,2020-11-07
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203,2020-10-21,2020-10-18
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509,2024-12-10,2020-10-30
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747,2020-12-24,2020-12-24
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350,2020-10-03,2020-09-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,02/02/2025 12:00:00 AM,02/02/2025 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,946.0,NaN,NaN,NaN,22100 ROSCOE BL,NaN,34.2259,-118.6126,2025-02-02,2025-02-02
1004987,250404100,02/18/2025 12:00:00 AM,02/18/2025 12:00:00 AM,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,237.0,NaN,NaN,NaN,3500 PERCY ST,NaN,34.0277,-118.1979,2025-02-18,2025-02-18
1004988,251304095,01/31/2025 12:00:00 AM,01/30/2025 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,...,850.0,NaN,NaN,NaN,300 E 53RD ST,NaN,33.9942,-118.2701,2025-01-31,2025-01-30
1004989,251704066,01/17/2025 12:00:00 AM,01/17/2025 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,624.0,NaN,NaN,NaN,9600 ZELZAH AV,NaN,34.2450,-118.5233,2025-01-17,2025-01-17
1004990,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,850.0,NaN,NaN,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417,2025-03-25,2025-03-25

In [21]:
df= df.drop_duplicates(subset= 'DR_NO')

In [22]:
df['Crime Year']= df['Date Occurance'].dt.year

In [23]:
df['Crime Month']= df['Date Occurance'].dt.month

In [24]:
df['Crime Day']= df['Date Occurance'].dt.day_name()

In [25]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Date Reported,Date Occurance,Crime Year,Crime Month,Crime Day
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092,2021-04-11,2020-11-07,2020,11,Saturday
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,NaN,ATOLL AV,N GAULT,34.1993,-118.4203,2020-10-21,2020-10-18,2020,10,Sunday
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509,2024-12-10,2020-10-30,2020,10,Friday
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,NaN,6000 COMEY AV,NaN,34.0339,-118.3747,2020-12-24,2020-12-24,2020,12,Thursday
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350,2020-10-03,2020-09-29,2020,9,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,02/02/2025 12:00:00 AM,02/02/2025 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,NaN,22100 ROSCOE BL,NaN,34.2259,-118.6126,2025-02-02,2025-02-02,2025,2,Sunday
1004987,250404100,02/18/2025 12:00:00 AM,02/18/2025 12:00:00 AM,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,NaN,3500 PERCY ST,NaN,34.0277,-118.1979,2025-02-18,2025-02-18,2025,2,Tuesday
1004988,251304095,01/31/2025 12:00:00 AM,01/30/2025 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,...,NaN,300 E 53RD ST,NaN,33.9942,-118.2701,2025-01-31,2025-01-30,2025,1,Thursday
1004989,251704066,01/17/2025 12:00:00 AM,01/17/2025 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,NaN,9600 ZELZAH AV,NaN,34.2450,-118.5233,2025-01-17,2025-01-17,2025,1,Friday
1004990,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,NaN,11100 OMELVENY AV,NaN,34.2722,-118.4417,2025-03-25,2025-03-25,2025,3,Tuesday

In [26]:
df['Crime Time Slot']= df['TIME OCC'].apply(lambda x: "Late Night" if x>=0 and x<600 else "Morning" if x>=600 and x<1200 else "Afternoon" if x>=1200 and x<1800 else "Evening")

In [29]:
df['Age Classification']= df['Vict Age'].apply(lambda x: "Minor" if x<18 else "Young Adult" if x>=18 and x<30 else "Adult" if x>=30 and x<50 else "Senior")

In [31]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Cross Street,LAT,LON,Date Reported,Date Occurance,Crime Year,Crime Month,Crime Day,Crime Time Slot,Age Classification
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,NaN,34.2124,-118.4092,2021-04-11,2020-11-07,2020,11,Saturday,Morning,Adult
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,N GAULT,34.1993,-118.4203,2020-10-21,2020-10-18,2020,10,Sunday,Evening,Adult
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,NaN,34.1847,-118.4509,2024-12-10,2020-10-30,2020,10,Friday,Afternoon,Adult
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,NaN,34.0339,-118.3747,2020-12-24,2020-12-24,2020,12,Thursday,Afternoon,Adult
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,NaN,33.9813,-118.4350,2020-10-03,2020-09-29,2020,9,Tuesday,Evening,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004986,252104112,02/02/2025 12:00:00 AM,02/02/2025 12:00:00 AM,130,21,Topanga,2103,2,946,OTHER MISCELLANEOUS CRIME,...,NaN,34.2259,-118.6126,2025-02-02,2025-02-02,2025,2,Sunday,Late Night,Adult
1004987,250404100,02/18/2025 12:00:00 AM,02/18/2025 12:00:00 AM,1000,4,Hollenbeck,479,2,237,CHILD NEGLECT (SEE 300 W.I.C.),...,NaN,34.0277,-118.1979,2025-02-18,2025-02-18,2025,2,Tuesday,Morning,Minor
1004988,251304095,01/31/2025 12:00:00 AM,01/30/2025 12:00:00 AM,1554,13,Newton,1372,2,850,INDECENT EXPOSURE,...,NaN,33.9942,-118.2701,2025-01-31,2025-01-30,2025,1,Thursday,Afternoon,Minor
1004989,251704066,01/17/2025 12:00:00 AM,01/17/2025 12:00:00 AM,1600,17,Devonshire,1774,2,624,BATTERY - SIMPLE ASSAULT,...,NaN,34.2450,-118.5233,2025-01-17,2025-01-17,2025,1,Friday,Afternoon,Minor
1004990,251904210,03/25/2025 12:00:00 AM,03/25/2025 12:00:00 AM,1235,19,Mission,1944,2,850,INDECENT EXPOSURE,...,NaN,34.2722,-118.4417,2025-03-25,2025-03-25,2025,3,Tuesday,Afternoon,Adult

In [38]:
area_crime= df.groupby('AREA NAME').size().reset_index(name='Total Crimes')

In [33]:
yearly_crime= df.groupby('Crime Year').size().reset_index(name='Crime Count')

In [34]:
weapon_usage= df.groupby('Weapon Desc').size().reset_index(name='Weapon Summary')

In [35]:
victim_demo= df.groupby(['Vict Age', 'Vict Sex']).size().reset_index(name='Victim Demograph')

In [43]:
print(area_crime, yearly_crime, weapon_usage, victim_demo)

      AREA NAME  Total Crimes
0   77th Street         61758
1       Central         69670
2    Devonshire         41756
3      Foothill         33133
4        Harbor         41394
5    Hollenbeck         37085
6     Hollywood         52429
7       Mission         40351
8   N Hollywood         51107
9        Newton         49177
10    Northeast         42963
11      Olympic         50071
12      Pacific         59514
13      Rampart         46825
14    Southeast         49936
15    Southwest         57441
16      Topanga         41374
17     Van Nuys         42883
18      West LA         45729
19  West Valley         42156
20     Wilshire         48239    Crime Year  Crime Count
0        2020       199847
1        2021       209876
2        2022       235259
3        2023       232345
4        2024       127567
5        2025           97                          Weapon Desc  Weapon Summary
0   AIR PISTOL/REVOLVER/RIFLE/BB GUN            1864
1                    ANTIQUE FIREARM               9
2        ASSAULT WEAPON/UZI/AK47/ETC              77
3   AUTOMATIC WEAPON/SUB-MACHINE GUN              28
4                                AXE             323
..                               ...             ...
75       UNKNOWN WEAPON/OTHER WEAPON           36390
76   UZI SEMIAUTOMATIC ASSAULT RIFLE              10
77                           Unknown          677744
78                           VEHICLE            3260
79                     VERBAL THREAT           23846

[80 rows x 2 columns]      Vict Age Vict Sex  Victim Demograph
0         2.0        F               195
1         2.0        M               218
2         2.0        X                16
3         3.0        F               248
4         3.0        M               234
..        ...      ...               ...
349      98.0        X                 4
350      99.0        F               169
351      99.0        M               170
352      99.0        X                15
353     120.0        U                 1

[354 rows x 3 columns]

In [45]:
df.to_csv(r"C:\Users\hites\Downloads\Cleaned_Crime_Data.csv", index=False)